{% extends 'base.html' %}

{% block content %}
<h1 class="my-posts-header mb-3">My Posts</h1>
<div class="row g-2">
    <h2 class="post-status-header">Not Published</h2>
    {% for post in object_list %}
    {% if user.is_authenticated and user == post.author %}
        {% if post.published == 0%}
            {% include 'my_blog_post.html' %}
        {% endif %}
    {% endif %}
    {% endfor %}
</div>

<div class="row g-2">
    <h2 class="post-status-header">Published</h2>
    {% for post in object_list %}
    {% if user.is_authenticated and user == post.author %}
        {% if post.published == 1 %}
            {% include 'my_blog_post.html' %}
        {% endif %}
        {% else %}
    {% endif %}
    {% endfor %}
</div>

{% include 'pagination.html' %}

<script>
    //Used for like post without page load. When post is liked
    // icon will be filled in. 
    $('.btn_likes').click(function (e) {
        // Prevent execution of click for every button in class
        e.stopPropagation();
        e.stopImmediatePropagation();

        let btn = $(this).children().first();
        let span = $(this).siblings('span').first(); // The span has the like-icon
        $.ajax({
            method: "POST",
            url: $(this).attr('name'),
            data: {
                'post_id': $(this).attr('value'),
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function (response) {
                if (btn.hasClass('far')) {
                    btn.removeClass('far');
                    btn.addClass('fas');
                    span.text(response);
                } else {
                    btn.removeClass('fas');
                    btn.addClass('far');
                    span.text(response);
                }
            },
            error: function (rs) {
                alert(rs.responseText);
            }

        });
        return false;

    });
</script>

{% endblock %}