{% extends 'base.html' %}
{% block content %}
<h1 class="my-posts-header mb-3">My Posts</h1>
{# Not published posts section #}
<div class="row g-2">
   <h2 class="post-status-header">Not Published</h2>
   {% if has_not_published_posts %}
   {% for post in object_list %}
       {% if user.is_authenticated and user == post.author %}
           {% if post.published == 0%}
               {% include 'my_blog_post.html' %}
           {% endif %}
       {% endif %}
   {% endfor %}
   {% else %}
    <p class="p-2">You have no posts waiting on approval. Create a post <a class="link-text" href="{% url 'create_post' %}">here</a></p>
   {% endif %}
</div>
{# Published posts section #}
<div class="row g-2">
   <h2 class="post-status-header">Published</h2>
   {% if has_published_posts %}
   {% for post in object_list %}
       {% if user.is_authenticated and user == post.author %}
           {% if post.published == 1 %}
               {% include 'my_blog_post.html' %}
           {% endif %}
       {% endif %}
   {% endfor %}
   {% else %}
      <p class="p-2">You have no published posts. Create a post <a class="link-text" href="{% url 'create_post' %}">here</a></p>
   {% endif %}
</div>
{% include 'pagination.html' %}

<script>
    //Used for like post without page load. When post is liked
    // icon will be filled in. 
    $('.btn_likes').click(function (e) {
        // Prevent execution of click for every button in class
        e.stopPropagation();
        e.stopImmediatePropagation();

        let btn = $(this).children().first();
        let span = $(this).siblings('span').first(); // The span has the like-icon
        $.ajax({
            method: "POST",
            url: $(this).attr('name'),
            data: {
                'post_id': $(this).attr('value'),
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function (response) {
                if (btn.hasClass('far')) {
                    btn.removeClass('far');
                    btn.addClass('fas');
                    span.text(response);
                } else {
                    btn.removeClass('fas');
                    btn.addClass('far');
                    span.text(response);
                }
            },
            error: function (rs) {
                alert(rs.responseText);
            }

        });
        return false;

    });
</script>

{% endblock %}