{% block content %}
<article class="mx-auto blog-post-list shadow-sm p-3 mb-5 bg-body rounded">
    <div class="row">
        <span class="text-end">
            {# Only the author can change or delete post #}
            {% if user.is_authenticated and user == post.author %}
            <a href="{% url 'update_post' post.slug %}" class="btn btn-success">Edit</a>
            <a  href="{% url 'delete_post' post.slug %}" class="btn btn-danger">Delete</a>
            {% endif %}
        </span>
        <span class="text-center">
            <a href="{% url 'blog_post' post.slug %}" class="blog-post-header">
                <h1 class="display-3 text-capitalize blog-post-header">{{post.title}}</h1>
            </a>
        </span>
    </div>
    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-5 g-0">
            {# Align text right on large/medium screens #}
            <p class="text-lg-end text-md-end text-sm-end fw-bold post-author">{{post.author}}</p>
        </div>
        <div class="col-lg-3 col-md-7 col-sm-7 g-0">
            {# Align text center on large/medium screens #}
            <p class="text-lg-center text-md-center">| {{post.created_on}} |</p>
        </div>
        {# On small screens category is displayed on new row #}
        <div class="col-lg-4 col-md-12 col-sm-12 g-0">
            {# Align text left on large/medium screens #}
            <p class="text-lg-start text-md-center text-sm-center text- fw-bold">{{post.category}}</p>
        </div>
    </div>
    <div>
        {% if 'default_image' in post.post_img.url %}
        <img src="../../static/media/temporary_default.jpeg" class="bg-body rounded" alt="..." width="100%" >
        {% else %}
        <img src=" {{ post.post_img.url }}" width="100%">
        {% endif %}
    </div>
    <article id="blog-post-body">
        <div class="row">
            <p class="blog-post-content"> {{post.content}} </p>
            <hr>
        </div>
    </article>
    <div class="comment-and-like-section">
        <div class="row">
            <div class="col-10">
                <p class="text-end">{{post.post_comments.count}}
                    <button class="btn btn-comments" type="button"><i class="far fa-comment-alt"></i></button>
                </p>
            </div>
            {% csrf_token %}
            <div class="col-2 text-center">
                <span>{{post.number_of_likes}}</span>
                {% if request.user.is_authenticated %}
                    {% if liked %}
                    <button class="btn btn_likes" id="btn-like" name="{% url 'post_likes' post.slug %}" type="submit"
                    value="{{post.id}}"><i id="btn-i" class="fas fa-heart btn-icon"></i></button>
                    {% else %}
                    <button class="btn btn_likes" id="btn-like" name="{% url 'post_likes' post.slug %}" type="submit"
                    value="{{post.id}}"><i id="btn-i" class="far fa-heart btn-icon"></i></button>
                    {% endif %}
                {% else %}
                <button class="btn" id="btn-like" onclick="alertMsgVisitorLikes()"><i id="btn-i"
                        class="far fa-heart btn-icon"></i></button>
                {% endif %}
            </div>
            <hr>
        </div>
        <div id="comments-wrapper" class="collapse">
            {% include 'comments.html'%}
        </div>
    </div>
</article>

{% endblock %}