{# Video header section #}
<div class="video-wrapper">
    <video autoplay loop muted>
    <source src="../../static/media/header_video.mp4" type="video/mp4"/> 
    </video>
    <div id="video-text-wrapper">
        <h1 class="video-header">My<br>Garden</h1>
        <p class="h2 d-none d-md-block">“Flowers are like <span id="text-friends">friends</span> <br>
             they bring color to your world.” - Unknown</p>
    </div>
</div>

{% extends 'base.html' %}
{% load static %}

{% block content %}

{# alert messages section #}
{% if messages %}
<div>
    {% for message in messages %}
        <div class="alert alert-success" role="alert">
            <p class="text-center">{{ message }}</p>
        </div>
    {% endfor %}
</div>
{% endif %}

<h1 id="blog-post-list-header">Latest Posts</h1>
{# all_published_posts #}

 {% for post in page_obj %}
   {% include 'blog_post_list.html' %}
{% endfor %}

{% include 'pagination.html' %}

{# category section #}
<div id="category-wrapper">
    {% include 'categories.html' %}
</div>

<script>
    //Used for like post without page load. When post is liked
    // icon will be filled in. 
    $('.btn_likes').click(function (e) {
        // Prevent execution of click for every button in class
        e.stopPropagation();
        e.stopImmediatePropagation();

        let btn = $(this).children().first();
        let span = $(this).siblings('span').first(); // The span has the like-icon
        $.ajax({
            method: "POST",
            url: $(this).attr('name'),
            data: {
                'post_id': $(this).attr('value'),
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function (response) {
                if (btn.hasClass('far')) {
                    btn.removeClass('far');
                    btn.addClass('fas');
                    span.text(response);
                } else {
                    btn.removeClass('fas');
                    btn.addClass('far');
                    span.text(response);
                }
            },
            error: function (rs) {
                alert(rs.responseText);
            }

        });
        return false;

    });
</script>
{% endblock %}