{# Video header section #}
<div class="video-wrapper">
<video autoplay loop muted>
    <source src="../../static/media/header_video.mp4" type="video/mp4"/> 
    Your browser does not support the video tag.
</video>
<h1 class="video-header">My <br> Garden</h1>
</div>

{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1 id="blog-post-list-header">Latest Posts</h1>
{# all_published_posts #}
{% for post in index.all_published_posts %}
    {% include 'blog_post_list.html' %}
{% endfor %}

<div id="category-wrapper">
    {% include 'categories.html' %}
</div>

<script>
    // Temporary alert if user tries to like before signed in
    function alertMsgVisitorLikes() {
        alert("You need to sign in before you can like this post!");
    }

    $('.btn_likes').click(function (e) {
        // Prevent execution of click for every button in class
        e.stopPropagation();
        e.stopImmediatePropagation();

        let btn = $(this).children().first();
        let span = $(this).siblings('span').first(); // The span has the like-icon
        $.ajax({
            method: "POST",
            url: $(this).attr('name'),
            data: {
                'post_id': $(this).attr('value'),
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function (response) {
                if (btn.hasClass('far')) {
                    btn.removeClass('far');
                    btn.addClass('fas');
                    span.text(response);
                } else {
                    btn.removeClass('fas');
                    btn.addClass('far');
                    span.text(response);
                }
            },
            error: function (rs) {
                alert(rs.responseText);
            }

        });
        return false;

    });
</script>
{% endblock %}