{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1 class="text-center mb-3">{{category.name}}</h1>
{% for post in post_list %}
    {% include 'blog_post_list.html' %}
{% empty %}
<p class="text-center">This category has no posts yet</p>
{% endfor %}


    <script>

        $('.btn_likes').click(function (e) {
            // Prevent execution of click for every button in class
            e.stopPropagation();
            e.stopImmediatePropagation();
    
            let btn = $(this).children().first();
            let span = $(this).siblings('span').first(); // The span has the like-icon
            $.ajax({
                method: "POST",
                url: $(this).attr('name'),
                data: {
                    'post_id': $(this).attr('value'),
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function (response) {
                    if (btn.hasClass('far')) {
                        btn.removeClass('far');
                        btn.addClass('fas');
                        span.text(response);
                    } else {
                        btn.removeClass('fas');
                        btn.addClass('far');
                        span.text(response);
                    }
                },
                error: function (rs) {
                    alert(rs.responseText);
                }
    
            });
            return false;
    
        });
    </script>
{% endblock %}
