/* General styling */
h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 6rem;

}

h2 {
    font-family: 'Amatic SC', cursive;
}

body {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none; 
    text-align: center;
    color: black;
}

#btn-i {
    color: #dc758f;
}

#content-wrapper {
    margin-top: 5rem
}


/* Styling video section  */
video {
    object-fit: cover;
    width: 100%;
    height: 40rem;
}

.video-wrapper {
    position: relative;
}

#video-text-wrapper {
    position: absolute;
    margin-top: -32%;
    margin-left: 3%;

}
.video-header {
    font-size: 10rem;
}

#text-friends {
    color: #dc758f;
}

#flower-quote {
    font-weight: bold;
}

/* Styling blog post list section */
#blog-post-list-header {
    text-align: center;
    margin-bottom: 3%;
}

/* Styling for Navbar  */
#textbox-search {
    box-shadow: none;
}

#btn-search  {
    box-shadow: none;
}

.navbar-brand {
    font-weight: bold;
}

.nav-link {
    color:black;
    font-weight: bold;
}

/* Styling for blog post */
.blog-post-header {
    display: inline-block;
}

.blog-post-list {
    width: 70%;
    margin-bottom: 5%;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: white;
}

#blog-post-detail-img {
    height: 44rem;
    object-fit: cover;
}

.blog-post-detail {
    margin-bottom: 5%;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
}
.post-author {
    color: #dc758f;

}

.post-img {
    height: 45rem;
    object-fit: cover;
    
}

.btn-comment {
    margin-top: 2%
}

.blog-post-content {
    padding: 5% 3% 5% 3%;
}

.btn-delete {
    background-color: #830a48;
    color: white;
}

.btn-edit {
    background-color: #8aaa79;
    color: white;
}

.comments-header {
    font-weight: bold;
}
/* Styling category section */
#category-header {
    text-align: center;
    margin-bottom: 3%;
    
}

#category-wrapper {
    height: auto;
    margin-bottom: 10%;
}


.category-row {
    margin-right: 5%;
}

.card-title {
    color: white;
    font-size: 3.5rem;
}

.category-img {
    opacity: 0.7;
    height: 22rem;
    object-fit: cover;
}

.link-text {
    color: #dc758f;
}
/* Styling settings page */
.post-detail-summary {
    list-style: none;
  }


  /* Styling my blog post page */
  .my-posts-header {
    text-align: center;
  }

  .post-detail-summary {
    font-weight: bold;
  }

  .post-status-header {
    font-size: 3rem;
  }

  /* Styling create post  */
  .create-post-header {
    text-align: center;
  }

/* Styling update post */
.post-author {
    text-align: center;
}

.edit-header {
    text-align: center;
}

/* Styling delete post */
.delete-post-title {
    font-size: 1.2rem;
    color: #dc758f;
}

.delete-post-header {
    text-align: center;
}

/* Styling paginator */
.page-link {
    color: black;
}

/* Styling search page */
.search-result-post-title {
    font-size: 1.5rem;
}

.search-result-post-category {
    font-weight: bold;
}

.search-result-post-author {
    font-weight: bold;
}

.search-result-category {
    font-weight: bold;
    font-size: 1.5rem;
    color: #dc758f;
}

.settings-header {
    text-align: center;
}

/* Allauth templates styling */
#login-header, #signup-header, #password-reset-header, #password-change-header, #password-reset-done-header {
    text-align: center;
}

/* Media queries index page */
/* For devices from 575px  and down */
@media screen and (max-width: 575px) {

/* General styling */
#content-wrapper {
    margin-top: 2rem
}

#nav-logout-login-btn {
    margin-right: 2rem;
}

/* Styling video section  */
video {
    height: 20rem;
}

#video-text-wrapper {
    position: absolute;
    margin-top: -55%;
    margin-left: 3%;
}

.video-header {
    font-size: 5rem;
}

/* Styling blog post list section */
.navbar .navbar-collapse {
    text-align: center;
}

#blog-post-list-header {
    font-size: 4rem;
    margin-bottom: 3%;
}

.blog-post-list {
    width: 100%;
    margin-bottom: 4%;
}

.post-img {
    height: 20rem;
}

.container {
    padding-left: 0%;
    padding-right: 0%;
}

/* category section */
#category-header {
    font-size: 4rem;
}

.suggest-category-text {
    margin-top: 5%;
}

.my-posts-header {
    font-size: 4rem;
}

.post-status-header {
    font-size: 3rem;
    margin-left: 4%;
}

/* Blog post detail page */
#blog-post-detail-img {
    height: 20rem;
}

/* Settings page */
#settings-wrapper {
    padding: 2%;
}

.settings-header {
    font-size: 4rem;
}

/* Create post page */
.create-post-header {
    font-size: 4rem;
}

.create-post-wrapper {
    padding: 2%;
}

/* Styling update post */
.edit-header {
    font-size: 4rem;
}

.update-post-wrapper {
    padding: 2%;
}

/* Styling delete post page */
.delete-post-header {
    font-size: 4rem;
}

.delete-post-text {
    text-align: center;
}

/* Styling post by category page */
.post-by-category-header {
    font-size: 4rem;
}

/* Styling allauth template login */
#login-wrapper {
    padding: 2%;
}

/* Styling allauth template signup */
#signup-wrapper {
    padding: 2%;
}

#login-header, #signup-header, #password-reset-header, #password-change-header #password-reset-done-header {
    font-size: 4rem;
}

#reset-password-wrapper, #password-change-wrapper {
    padding: 2%;
}

}

/* Media queries index page */
/* For devices from 767px  and down to 575px */
@media screen and (max-width: 767px) and (min-width: 576px)  {
/* General styling */
    #content-wrapper {
        margin-top: 2rem
    }

    #nav-logout-login-btn {
        margin-right: 2rem;
    }

/* Styling video section  */
    video {
        height: 33rem;
    }
    
    #video-text-wrapper {
        margin-top: -68%;
    }

/* Blog post detail page */
#blog-post-detail-img {
    height: 30rem;
}

}

/* Blog post list page */
/* .blog-post-list {
    width: 100%;
} */

/* For devices from 991px  and down to 768px */
@media screen and (max-width: 991px) and (min-width: 768px)  {
/* General styling */
    #content-wrapper {
        margin-top: 2rem
    }

    #nav-logout-login-btn {
        margin-right: 2rem;
    }

/* Video section */
    video {
        height: 35rem;
    }
    
    #video-text-wrapper {
        margin-top: -62%;
    }

/* Category section */
    .suggest-category-text {
        margin-top: 3%;
    }

    /* Blog post list */
    .post-img {
        height: 30rem;
    }

    /* Blog post detail page */
    #blog-post-detail-img {
        height: 30rem;
    }

}

/* For devices from 1200px  and down to 992px */
@media screen and (max-width: 1200px) and (min-width: 992px)  {
    #video-text-wrapper {
        margin-top: -50%;
    }

    #blog-post-detail-img {
        height: 35rem;
    }

    /* Blog post list */
    .post-img {
    height: 35rem;
}

}

/* For removing navbar toggler icon border */
/* From: https://stackoverflow.com/questions/50668594/remove-border-color-for-navbar-toggler-hamburger-icon-in-bootstrap-using-css */
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: 2px;
    box-shadow: none;
}

