/* General styling */

body {
    background-color: lightgrey;
}

a {
    text-decoration: none; 
    text-align: center;
}

/* Styling for Navbar  */
#textbox-search {
    box-shadow: none;

}

#btn-search  {
    box-shadow: none;

}

#content-wrapper {
    margin-top: 10rem
}

#temporary-defalt-pic-list {
    max-width: 70%;
}

/* Styling for blog post */

.blog-post-header {
    display: inline-block;
}

.blog-post-article {
    width: 70%;
    margin-bottom: 5%;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: white;
}

.btn-comment {
    margin: 2% 2%;
}

.blog-post-content {
    padding: 5% 3% 5% 3%;
}





