/* General styling */

a {
    text-decoration: none; 
    text-align: center;
}

/* Styling for Navbar  */
#textbox-search {
    box-shadow: none;

}

#btn-search  {
    box-shadow: none;

}

#content-wrapper {
    margin-top: 10rem
}

#temporary-defalt-pic-list {
    max-width: 70%;
}

/* Styling for blog post */

.blog-post-header {
    display: inline-block;
}
