{% extends 'base.html' %}
{% load static %}
{% block content %}
<article class=" blog-post-detail shadow-sm p-3 mb-5 bg-body rounded">
   <div class="row">
      <span class="text-end mb-2">
      {# Only the author can change or delete post #}
      {% if user.is_authenticated and user == post.author %}
      <a href="{% url 'update_post' post.slug %}" class="btn btn-edit" id="btn-test">Edit</a>
      <a  href="{% url 'delete_post' post.slug %}" class="btn btn-delete">Delete</a>
      {% endif %}
      </span>
      <span class="text-center">
         <a href="{% url 'blog_post' post.slug %}" class="blog-post-header">
            <h1 class="display-3 text-capitalize blog-post-header">{{post.title}}</h1>
         </a>
      </span>
   </div>
   <div class="row">
      <div class="col-lg-7 col-md-12 col-sm-12 g-0">
         <p class="text-center text-lg-end"><span class="fw-bold post-author m-2">{{post.author}} </span>| {{post.created_on}} |</p>
      </div>
      {# On small and medium screens category is displayed on new row #}
      <div class="col-lg-5 col-md-12 col-sm-12 g-0">
         <p class="text-center text-lg-start text-md-center text-sm-center fw-bold"><span class="m-2">{{post.category}}</span></p>
      </div>
   </div>
   <div>
      {% if 'default_image' in post.post_img.url %}
      <img src="../../static/media/temporary_default.jpeg" class="bg-body rounded" alt="..." width="100%" >
      {% else %}
      <img id="blog-post-detail-img" class="bg-body rounded"  src=" {{ post.post_img.url }}" width="100%">
      {% endif %}
   </div>
   <article id="blog-post-body">
      <div class="row">
         <p class="blog-post-content"> {{post.content}} </p>
      </div>
   </article>
   <div class="comment-and-like-section">
      <div class="row">
         <hr>
         <div class="col-9 col-md-10 col-lg-10">
            <p class="text-end">{{post.post_comments.count}}
               <button class="btn btn-comments" type="button"><i class="far fa-comment-alt"></i></button>
            </p>
         </div>
         {% csrf_token %}
         <div class="col-3 col-md-2 col-lg-2 text-center">
            <span>{{post.number_of_likes}}</span>
            {% if request.user.is_authenticated %}
            {% if liked %}
            <button class="btn btn_likes" id="btn-like" name="{% url 'post_likes' post.slug %}" type="submit"
               value="{{post.id}}"><i id="btn-i" class="fas fa-heart btn-icon"></i></button>
            {% else %}
            <button class="btn btn_likes" id="btn-like" name="{% url 'post_likes' post.slug %}" type="submit"
               value="{{post.id}}"><i id="btn-i" class="far fa-heart btn-icon"></i></button>
            {% endif %}
            {% else %}
            <button class="btn" id="btn-like" onclick="alertMsgVisitorLikes()"><i id="btn-i" class="far fa-heart btn-icon"></i></button>
            {% endif %} 
         </div>
         <hr>
      </div>
      <div id="comments-wrapper" class="collapse">
         {% include 'comments.html'%}
      </div>
   </div>
</article>

{# Handling likes without page refresh #}
{% block scripts %}
<script>
// Temporary alert if user tries to like before signed in
function alertMsgVisitorLikes() {
  alert("You need to sign in before you can like this post!");
}

    $('.btn_likes').click(function (e) {
        // Prevent execution of click for every button in class
        e.stopPropagation();
        e.stopImmediatePropagation();

        let btn = $(this).children().first(); 
        let span = $(this).siblings('span').first(); // The span has the like-icon
        $.ajax({
            method: "POST",
            url: $(this).attr('name'),
            data: {
                'post_id': $(this).attr('value'),
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function (response) {
                if (btn.hasClass('far')) {
                    btn.removeClass('far');
                    btn.addClass('fas');
                    span.text(response);
                } else {
                    btn.removeClass('fas');
                    btn.addClass('far');
                    span.text(response);
                }
            },
            error: function (rs) {
                alert(rs.responseText);
            }

        });
        return false;

    });
</script>
{% endblock scripts %}
{% endblock %}