{% extends 'base.html' %}


{% block content %}
<br>
<br>
<br>
<br>
<article id=" blog-post-article">
    <div class="row">
        <h1 class="text-center display-3 text-capitalize">{{post.title}}</h1>
    </div>
    <div class="row">
        <div class="col">
            {# Align text right on large/medium screens #}
            <p class="text-lg-end text-md-end">{{post.author}}</p>
        </div>
        <div class="col">
            {# Align text center on large/medium screens #}
            <p class="text-lg-center text-md-center">{{post.created_on}}</p>
        </div>
        {# On small screens category is displayed on new row #}
        <div class="col-sm">
            {# Align text left on large/medium screens #}
            <p class="text-lg-start text-md-start">{{post.category}}</p>
        </div>
    </div>
    <div>
        <img class="img-fluid rounded" id="temporary-defalt-pic" src="../../static/media/temporary_default.jpeg"
            alt="Smile emoojis">
    </div>
    <article id="blog-post-body">
        <div class="row">
            <p> {{post.content}} </p>
        </div>
    </article>
    <div class="row">
        <div class="col-10 text-end">
            <button class="btn" id="btn-make-comment" data-bs-toggle="button" autocomplete="off">Comment</button>
        </div>
        <div class="col-1">
            {# Temporary numb #}
            <p class="text-end">0 <button class="btn" id="btn-likes" type="button"><i
                        class="fas fa-comment-alt"></i></button></p>
        </div>
        <div class="col-1 text-start">
            {# Temporary numb #}
            <p>0 <button class="btn" id="btn-comments" type="button"><i class="fas fa-heart"></i></button></p>
        </div>
    </div>
</article>
<a href="{% url 'index' %}" class="btn btn-outline-secondary">Back</a>





{% endblock %}