{% extends 'base.html' %}
{% load static %}


{% block content %}
<br>
<br>
<br>
<br>
<article id=" blog-post-article">
    <div class="row">
        <a href="{% url 'blog_post' post.slug %}">
            <h1 class="text-center display-3 text-capitalize">{{post.title}}</h1>
        </a>
    </div>
    <div class="row">
        <div class="col">
            {# Align text right on large/medium screens #}
            <p class="text-lg-end text-md-end">{{post.author}}</p>
        </div>
        <div class="col">
            {# Align text center on large/medium screens #}
            <p class="text-lg-center text-md-center">{{post.created_on}}</p>
        </div>
        {# On small screens category is displayed on new row #}
        <div class="col-sm">
            {# Align text left on large/medium screens #}
            <p class="text-lg-start text-md-start">{{post.category}}</p>
        </div>
    </div>
    <div>
        <img class="img-fluid rounded" id="temporary-defalt-pic" src="../../static/media/temporary_default.jpeg"
            alt="Smile emoojis">
    </div>
    <article id="blog-post-body">
        <div class="row">
            <p> {{post.content}} </p>
        </div>
    </article>
    <div class="comment-and-like-section">
        <div class="row">
            <hr>
            <div class="col-8 text-end">
                <!-- <button class="btn" href="#" id="btn-make-comment" data-bs-toggle="button" autocomplete="off">Comment</button> -->
                <a href="#">Comment</a>
            </div>
            <div class="col-2">
                {# Temporary numb #}
                <p class="text-end">{{post.post_comments.count}}<button class="btn btn-comments" type="button"><i
                            class="far fa-comment-alt"></i></button></p>
            </div>
            {% csrf_token %}
            <!-- {% if request.user.is_authenticated %} -->
            <div class="col-2">
                <span>{{post.number_of_likes}}</span>
                <button class="btn btn_likes" id="btn-like" name="{% url 'post_likes' post.slug %}" type="submit"
                    value="{{post.id}}"><i id="btn-i" class="far fa-heart btn-icon"></i></button>
            </div>
            <hr>
            <!-- {% endif %} -->
        </div>
        <div id="comments-wrapper" class="collapse">
            {% include 'comments.html'%}
        </div>
    </div>
        

</article>
<a href="{% url 'index' %}" class="btn btn-outline-secondary">Back</a>

<script>
    $('.btn_likes').click(function (e) {
        // Prevent execution of click for every button in class
        e.stopPropagation();
        e.stopImmediatePropagation();

        let btn = $(this).children().first();
        let span = $(this).siblings('span').first(); // The span has the like-icon
        $.ajax({
            method: "POST",
            url: $(this).attr('name'),
            data: {
                'post_id': $(this).attr('value'),
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function (response) {
                if (btn.hasClass('far')) {
                    btn.removeClass('far');
                    btn.addClass('fas');
                    span.text(response);
                } else {
                    btn.removeClass('fas');
                    btn.addClass('far');
                    span.text(response);
                }
            },
            error: function (rs) {
                alert(rs.responseText);
            }

        });
        return false;

    });
</script>
{% endblock %}