{% block content %}
<h3 class="comments-header">Comments</h3>
{% for comment in post.post_comments.all %}
{% if comment.status == 'A' %}
<div class="shadow-sm p-3 mb-5 bg-body rounded">
   <p><strong>{{comment.author}}</strong> | {{comment.created_on}} </p>
   <p>{{comment.content}}</p>
</div>
{% endif %}
{% empty %}
<p class="mb-10">This post has no comments</p>
{% endfor %}
{# Only users that are signed in can see comment form #}
{% if request.user.is_authenticated %}
<form id="comment-form" class="comment-form" name="{% url 'create_comment' post.slug %}">
   <div class="row">
      <textarea class="form-control" placeholder="Leave your comment here..." id="content" name="content"></textarea>
      <div class="text-center d-grid d-lg-block mt-2">
         <button class="btn btn-secondary btn-comment">Leave Comment</button>
      </div>
   </div>
   {% else %}
   <p class="text-center"><strong>Sign in to leave a comment</strong></p>
   {% endif %}
</form>
{% endblock %}

{# Handling comments without page refresh #}
{% block scripts %}
<script>
    // Inspiration from: 
    // https://dev.to/thepylot/how-to-send-django-form-with-ajax-4bpo
    $(document).on('submit', '.comment-form', function (e) {
        // Prevent execution of click for every button in class
        e.stopPropagation();
        e.stopImmediatePropagation();
        let textBoxContent = $(this).children().first().children().first(); // Get comment texarea 

        $.ajax({
            method: 'POST',
            url: $(this).attr('name'),
            data: {
                'content': textBoxContent.val(),
                'csrfmiddlewaretoken': '{{ csrf_token }}',
            },
            success: function (response) {
                textBoxContent.val('');
                textBoxContent.attr("placeholder", "Thank you! Your comment will soon be reviewed.");
            }
        });
        return false;
    });
</script>
{% endblock scripts %}