<h3>Comments</h3>
{% if not post.post_comments.all %}
    <p>This post has no comments</p>
    <!-- Todo: Add link to comment form  -->
    {% else %}
        {% for comment in post.post_comments.all %}
        <div>
            <p>{{comment.author}} | {{comment.created_on}} </p>
            <p>{{comment.content}}</p>
        </div>
        {% endfor %}
    {% endif %}
    <div class="form-group">
        <form method="POST">
        {% csrf_token %}
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" placeholder="Write your comment here..."></textarea>
        <p class="text-center">
            <button type="submit" class="btn btn-outline-secondary">Leave Comment</button>
        </p>
        </form>
    </div>

