{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

{# alert messages section #}
{% if messages %}
<div>
    {% for message in messages %}
    <div class="alert alert-success" role="alert">
        <p class="text-center">{{ message }}</p>
    </div>
    {% endfor %}
</div>
{% endif %}

<div class="row justify-content-center">
    <div class="col-lg-8 col-md-10 col-sm-12 ">
        <div class="create-post-wrapper">
        <h1 class="create-post-header">Create blogpost</h1>

        <form method="POST">
            {% csrf_token %}
            {{ form |crispy}}
            <div class="d-grid d-lg-block mb-2">
            <button class="btn btn-edit mb-5" type="submit">Create Post</button>
            </div>
        </form>
        </div>
    </div>
</div>
{% endblock %}