{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row justify-content-center">
   <div class="col-lg-8 col-md-12 col-sm-12">
      <div class="update-post-wrapper">
         <h1 class="edit-header">Edit Blogpost</h1>
         <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="d-grid d-lg-block m-4">
               <button class="btn btn-edit" type="submit">Update Post</button>
            </div>
         </form>
      </div>
   </div>
</div>
{% endblock %}